<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="form-group">
    <label for="oldPassword">Old password</label>
    <input 
      id="oldPassword"
      type="text"
      class="form-control"
      formControlName="oldPassword"
      > 
    <div *ngIf="form.get('oldPassword').touched ">
      <div 
        *ngIf="form.get('oldPassword').hasError('required')"
        class="alert alert-danger">oldPassword is required.</div>
      <div 
        *ngIf="form.get('oldPassword').hasError('cannotContainSpace')"
        class="alert alert-danger">oldPassword cannot contain space.</div>
      <div
        *ngIf="form.get('oldPassword').hasError('invalidOldPassword')"
        class="alert alert-danger">old password not match</div>
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword">New password</label>
    <input 
      id="newPassword"
      type="text"
      class="form-control"
      formControlName="newPassword"
      > 
    <div *ngIf="form.get('newPassword').touched">
      <div 
        *ngIf="form.get('newPassword').hasError('required')"
        class="alert alert-danger">newPassword is required.</div>
      <div 
        *ngIf="form.get('newPassword').hasError('cannotContainSpace')"
        class="alert alert-danger">newPassword cannot contain space.</div>
      <div
        *ngIf="form.get('newPassword').hasError('minlength')"
        class="alert alert-danger">
          New password should be minimum 4 characters</div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm password</label>
    <input 
      id="confirmPassword"
      type="text"
      class="form-control"
      formControlName="confirmPassword"
      > 
    <div *ngIf="form.get('confirmPassword').touched"> 
      <div 
        *ngIf="form.get('confirmPassword').hasError('required')"
        class="alert alert-danger">confirmPassword is required.</div>
      <div 
        *ngIf="form.get('confirmPassword').hasError('cannotContainSpace')"
        class="alert alert-danger">confirmPassword cannot contain space.</div>
      <div
        *ngIf="form.errors && form.hasError('shouldBeMatched')"
        class="alert alert-danger">
        Passwords don't match.
      </div>  
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form> 