<div class="row">
  <form [formGroup]="form" class="ui form col-md-12">
    <div class="field">
      <h3 for="search">Search task: </h3>
      <input 
        class="prompt" 
        type="text" 
        id="search"
        placeholder="Search..."
        formControlName="search">
    </div>
  </form>

  <div *ngIf="(loading$ | async)" class="col-md-12">
    <md-spinner></md-spinner>
    <!-- <div class="spinner">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div> -->
  </div>

  <div *ngIf="!((loading$ | async) && searching)" class="results">
    <h4>{{ header }}</h4>
    <ul class="list-group">
      <button *ngFor="let result of this.results" 
      class="list-group-item" (click)="goToTask(result.list.list_id)">
        <p>{{ result.title }}</p>
        <p>in {{ result.list.list_title }} task list. </p>
      </button>
    </ul>
  </div>
</div>


