<section>
  <form [formGroup]="form" (ngSubmit)="addTask()">
    <div>
      <input 
        type="text"
        formControlName="newTaskTitle"
        [(ngModel)]="newTask.title">
      <button [disabled]="form.invalid" class="btn-add-task">Add Task</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let task of tasks" 
        class="faded" 
      >
      <div class="view" *ngIf="task.id != taskEditing" (click)="goTodo(task.id)">
        <label>{{task.title}}</label>
        <i class="fa fa-remove pull-right" (click)="deleteTask(task, $event)"></i>  
        <i class="fa fa-pencil pull-right" (click)="changeToEdit(task, $event)"></i>
        <!--<button class="pull-right btn-edit-task" (click)="editTask(task, $event)"></button>-->
        <!--<button class="pull-right btn-delete-task" (click)="deleteTask(task, $event)">Delete</button>-->
      </div>

      <input 
        type="text"
        #textTask
        *ngIf="task.id == taskEditing"
        (keyup.enter)="editTask(textTask.value, task, $event)"
        (keyup.escape)="revertEdit()" 
        value={{task.title}}>
    </li>
  </ul>
</section>