<div *ngIf="isReady">
  <div class="container">
    <div class="row">
      <div class="todolist col-md-6">
        <h3 class="text-center">Todos</h3>
        <div>
          <input class="form-control" placeholder="What need to be done?" autofocus=""
                [(ngModel)]="newTask.title" (keyup.enter)="addTask()">
          <button (click)=" markAllDone()" class="btn btn-success btn-mark-all-done">Mark all as done</button>
        </div>

        <section *ngIf="todos.length > 0">
          <ul class="todos">
            <li *ngFor="let todo of todos" (click)="toggleTaskComplete(todo)" class="ui-state-default">
              {{ todo.title }}
            </li>
          </ul>
        </section>
        <section *ngIf="todos.length == 0">
          You've completed todo list.
        </section>

        <footer class="todo-footer" *ngIf="todos.length > 0">
          <strong> {{ todos.length }} </strong> {{todos.length == 1 ? 'item' : 'items'}} left
        </footer>
      </div>

      <div class="donelist col-md-6">
        <h3 class="text-center">Already done</h3>
        <section *ngIf="dones.length > 0">
          <ul class="done-list">
            <li *ngFor="let done of dones" (click)="removeTodo(done.id)" class="ui-state-default">
              {{ done.title }}
              <button class="remove-item btn btn-default btn-xs pull-right">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </li>
          </ul>
        </section>
      </div>
    </div>
    </div>

    <a routerLink="/lists" class="btn btn-primary" >Go back</a>
</div>