<md-toolbar color="primary">
  Tudu app
  <span class="app-toolbar-filler"></span>  
  <button md-button [routerLink]="['/task']">Task</button>

  <button md-button routerLink="/login" routerLinkActive="active" 
          *ngIf="isLoggedOut()">Login </button>
  <button md-button routerLink="/signup" routerLinkActive="active" 
          *ngIf="isLoggedOut()">Sign up</button>

  <button 
    md-button routerLink="/logout" routerLinkActive="active" 
    *ngIf="isLoggedIn()"
    (click)="logOut()">Log out</button>
</md-toolbar>