<md-toolbar color="primary">
  <a [routerLink]="['']">Tudu app</a>
  <span class="app-toolbar-filler"></span>  
  <button md-button [routerLink]="['/lists']">Task Lists</button>
  <button md-button [routerLink]="['/lists_management']">Management</button>
  <button md-button routerLink="/login" routerLinkActive="active" 
          *ngIf="!(authService.userSignedIn$ | async)">Login </button>
  <button md-button routerLink="/signup" routerLinkActive="active" 
          *ngIf="!(authService.userSignedIn$ | async)">Sign up</button>

  <button 
    md-button routerLink="/logout" routerLinkActive="active" 
    *ngIf="(authService.userSignedIn$ | async)"
    (click)="logOut()">Log out</button>
</md-toolbar>